.movie-card {
  width: 200px;
  margin-right: 15px;
  transition: transform 0.3s;
  cursor: pointer;
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.movie-card h4 {
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
}

.movie-card:hover {
  transform: scale(1.05);
}
